// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .captionPassive .v-panel-content {
    background: rgba(140, 112, 162, 0.44);
  }

  .captionActive .v-panel-content {
    background: #33ba59;
  }

  .mytheme .v-label-undef-w {
    white-space: normal;
  }


  #challBoaLevelLayout, #journalMenu {
    border-right: solid 3px #666666;
    background: white;
    -webkit-box-shadow: 5px 0 10px 0 rgba(153,153,153,1);
    -moz-box-shadow: 5px 0 10px 0 rgba(153,153,153,1);
    box-shadow: 5px 0 10px 0 rgba(153,153,153,1);
  }

  #challBoaChallActiveLayout {
    border-right: solid 1px #666666;
    background: #efefef;
    overflow-y: auto;
  }

  #challBoaChallPassiveLayout {
    border-right: solid 1px #666666;
    background: #F6F6F6;
  }

  #challBoaChallDetailLayout {
    background: #EEEEEE;
    padding-left: 0;
    padding-right: 0;
  }

  #loginView, #startView, #journalView {
    background: url('./images/background.png');
    background-size: 40%;
  }

  #loginWrapper {
    margin-top: 100px;
    margin-left: calc(50% - 150px);
    margin-right: calc(50% - 150px);
    vertical-align: center;
    background: white;
    padding: 20px;
    border: solid 1px #aaaaaa;
  }

  #loginButton {
    margin-top: 20px;
  }

  #welcomeLabel {
    font-weight: bold;
    text-align: center;
  }

  #navigationWrapper {
    margin-left: calc(50% - 200px);
    margin-right: calc(50% - 200px);
    border: solid 1px #aaaaaa;
  }

  #journalWrapper, #challengeWrapper {
    background: white;
    padding: 20px;
  }

  #journalImg {
    background: url('./images/journal.png') center center no-repeat;
    background-size: 50%;
  }

  #challengeImg {
    background: url('./images/challenge.png') center center no-repeat;
    background-size: 50%;
  }

  #challengeButton, #journalButton {
    margin-top: 30px;
  }

  #logoutWrapper {
    text-align: center;
    padding-top: 50px;
  }

  #challBoaChallActiveLayout .v-panel, #challBoaChallPassiveLayout .v-panel {
    max-height: 150px;
    margin-bottom: 20px;
  }

  #challBoaChallDetailLayout .v-panel, #journalDetail .v-panel {
    max-height: initial;
    margin-bottom: 0;
  }

  #challBoaActiveLabel, #challBoaPassivLabel, #challBoaChallDetailsLabel, #challBoaLevelLabel {
    width: 100%;
    text-align: center;
    line-height: 5;
  }

  #challBoaChallActiveLayout, #challBoaChallPassiveLayout, #challBoaLevelLayout,
  #journalMenu, #journalOverview {
    padding-left: 10px;
    padding-right: 10px;
  }

  #challBoaLevelLayout .v-button, #journalMenu .v-button {
    margin-bottom: 10px;
    width: 100%;
  }

  #lvlInfoLbl {
    width: 100%;
    text-align: center;
  }
}
